<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <title>GeoPort - Online Update</title>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.6.2/dist/fetch.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-providers@2.0.0/leaflet-providers.min.js"></script>
    <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
    <script
        src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-filelayer@1.2.0/src/leaflet.filelayer.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2.4.0/src/easy-button.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.5.0/dist/socket.io.min.js"></script>

    <!-- Google Maps JS API -->
    <script>(g => {
            var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => {
                await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a)
            })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
        })
            ({ key: "{{ google_maps_api_key }}", v: "weekly" });</script>
    <script>
        // Ensure the maps library is loaded for plugins that expect it
        google.maps.importLibrary("maps").then(() => {
            console.log("Google Maps library loaded successfully.");
        });
    </script>

    <!-- Leaflet.GoogleMutant -->
    <script src="https://unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.min.css"
        rel="stylesheet">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2.4.0/src/easy-button.min.css" rel="stylesheet">

    <!-- External CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map2.css') }}">
</head>

<!-- Inject Jinja2 template variables into JS config -->
<script>
    window.APP_CONFIG = {
        app_version_num: "{{ app_version_num }}",
        app_version_type: "{{ app_version_type }}",
        current_platform: "{{ current_platform }}",
        user_locale: "{{ user_locale }}",
        sudo_message: "{{ sudo_message }}",
        app_version: "{{ app_version_num }}",
        google_maps_api_key: "{{ google_maps_api_key }}"
    };
</script>

<!-- External JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/nipplejs@0.10.1/dist/nipplejs.min.js"></script>
<script src="{{ url_for('static', filename='js/map2.js') }}"></script>



<body>
    <!-- {% if version_message %}
    <div class="alert alert-warning glassmorphic-card" role="alert">{{ version_message }}</div>
    {% endif %}
    {% if github_broadcast %}
    <div class="alert alert-info glassmorphic-card" role="alert">{{ github_broadcast|safe }}</div> -->
    {% endif %}
    {% if timeout_message %}
    <div class="alert alert-warning glassmorphic-card" role="alert">{{ timeout_message }}</div>
    {% endif %}
    {% if error_message %}
    <div class="alert alert-danger glassmorphic-card" role="alert">{{ error_message }}</div>
    {% endif %}

    <div class="container p-3">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="my-0">
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspGeoPort
                (Online Update Edition) - Your location, Anywhere!</h4>
            <div>
                <a id="about-btn" class="btn btn-outline-primary" href="#" title="GeoPort"
                    style="display: none;">About</a>
                <a id="exit-btn" class="btn btn-outline-primary ms-2" href="#" title="GeoPort"
                    onclick="exitApp()">Exit</a>
            </div>
        </div>

        <!-- Toggles for Dark Mode and Fuel Mode -->
        <!-- Toggles for Dark Mode and Fuel Mode -->
        <div class="d-flex flex-column align-items-end mt-3">
            <div class="form-check form-switch mb-3"> <!-- Add margin-bottom to create space between the switches -->
                <input class="form-check-input" type="checkbox" role="switch" id="darkModeSwitch"
                    onchange="toggleDarkMode()">
                <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="enableFuelPrices"
                    onchange="toggleFuelTypeVisibility()">
                <label class="form-check-label" for="enableFuelPrices">Fuel Mode</label>
            </div>

        </div>


        <!-- Connection dropdown hidden for debugging -->
        <div class="mb-3" style="display: none;">
            <label for="connection">Connection:</label><br>
            <div class="row">
                <div class="col">
                    <select class="custom-select d-block w-100 glassmorphic-card" id="connection" required>
                    </select>
                </div>
            </div>
        </div>

        <div class="mt-3 glassmorphic-card" id="border">
            <!-- Connect Device -->
            {% if error_messages %}
            <button type="button" class="btn" id="connect" onclick="connectDevice()" disabled>
                <span id="connectText">Connect Device</span>
            </button>
            {% else %}
            <form>
                <div class="mb-3">
                    <label for="device">Select Device:</label>
                    <div class="row">
                        <div class="col">
                            <select class="custom-select glassmorphic-card" id="device" required></select>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn" id="refresh"
                                onclick="populateDeviceList()">Refresh</button>
                        </div>
                    </div>
                </div>
            </form>
            <button type="button" class="btn" id="connect" onclick="connectDevice()">
                <span id="connectText">Connect Device</span>
                <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                    style="display: none;"></span>
            </button>
            <button type="button" class="btn btn-danger" id="disconnect" onclick="disconnectDevice()"
                style="display: none;">Disconnect</button>
            <input class="form-control glassmorphic-card" type="text" id="rsdData" placeholder="RSD Data…" readonly
                style="display: none;">
            {% endif %}
        </div>

        <div class="mb-3 glassmorphic-card" id="fuelRegionSection" style="display: none;">
            <label for="fuelRegion">Select Region:</label>
            <select class="custom-select glassmorphic-card" id="fuelRegion" onchange="handleFuelTypeChange()">
                <option value="All">All</option>
                <option value="ACT">ACT</option>
                <option value="NSW">NSW</option>
                <option value="QLD">QLD</option>
                <option value="VIC">VIC</option>
                <option value="WA">WA</option>
            </select>
        </div>

        <div class="mb-3 glassmorphic-card" id="fuelTypeSection" style="display: none;">
            <label for="fuelType">Select fuel type:</label>
            <select class="custom-select glassmorphic-card" id="fuelType" onchange="handleFuelTypeChange()"></select>
            <p></p>
            <div class="form-group">
                <div class="collapse" id="fuelDataCollapse">
                    <textarea class="form-control glassmorphic-card" id="fuelText" rows="8" readonly
                        disabled></textarea>
                </div>
            </div>
        </div>

        <div id="dataList" class="mb-3 glassmorphic-card"></div>
        <div class="joystick-map-combined-container glassmorphic-card d-flex flex-row overflow-hidden">
            <div id="joystick-wrapper" class="d-flex align-items-center justify-content-center border-end">
                <div id="joystick-zone"></div>
            </div>
            <div id="map" class="flex-grow-1"></div>
        </div>
        <br>
        <div class="mb-3 glassmorphic-card" id="loc-search">
            <div class="row align-items-start"> <!-- Align items to the start of the row -->
                <div class="col-md-auto d-flex align-items-center">
                    <label class="mb-0" for="coordinates">Location:</label>
                </div>
                <div class="col d-flex align-items-start"> <!-- Align input to the start -->
                    <input type="text" class="form-control glassmorphic-card" id="coordinates">
                </div>
                <div class="col-md-auto d-flex align-items-center justify-content-center">
                    <button type="button" class="btn" id="search" onclick="handleSearch()">Search</button>
                </div>
            </div>
        </div>


        <div class="mb-3 glassmorphic-card">
            <div class="row align-items-center">
                <div class="col">
                    <button type="button" class="btn w-100" data-toggle="popover" id="set-location" disabled
                        onclick="setLocation()">Simulate Location</button>
                </div>
                <div class="col">
                    <button type="button" class="btn w-100" data-toggle="popover" id="stop-location" disabled
                        onclick="stopLocation()">Stop Location</button>
                </div>
            </div>
        </div>
    </div>



    <br>

    <hr>

    <!-- All existing modal codes remain unchanged -->
    <!-- Keeping all modal divs as they were in original HTML -->




    <div class="modal fade" id="shutdownModal" tabindex="-1" role="dialog" aria-labelledby="shutdownModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shutdownModalLabel">Server Shutdown</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Thank you for using the app!
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="aboutModalLabel">GeoPort</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    App Version: {{ app_version_num }}
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="developerModeModal" tabindex="-1" role="dialog" aria-labelledby="devModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="developerModeModal">Developer Mode</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>The device is enabled with a passcode </p>
                    Developer Mode is required and cannot be enabled
                    <p>Please temporarily disable your passcode and</p>
                    try to connect again
                    <p>Enabling Developer Mode is only required one-time.</p>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary mx-auto" data-bs-dismiss="modal"
                        onclick="window.location.href = '/'">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="pairRecordModal" tabindex="-1" role="dialog" aria-labelledby="pairRecordModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pairRecordModalLabel">No Pair Record</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Pair Record Not Found</p>
                    Please use a USB Cable to create a Pair Record

                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="window.location.href = '/'">OK</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="developerModeRequiredModal" tabindex="-1" role="dialog"
        aria-labelledby="developerModeRequiredModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="developerModeRequiredModalLabel">Developer Mode Required</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Developer mode is not enabled</p>
                    GeoPort will now attempt to enable Developer Mode
                    <p>Your device will reboot</p>
                    OK to proceed<br>
                    Cancel to return home
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="continueAfterDeveloperModeRequired()">OK</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="cancelAfterDeveloperModeRequired()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalTimeout" tabindex="-1" role="dialog" aria-labelledby="modalTimeout"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTimeout">Connect Timeout</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>Unable to create device tunnel within 60 seconds</p>

                    <p>Please try to connect again</p>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="window.location.href = '/'">Close</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="developerError" tabindex="-1" role="dialog" aria-labelledby="developerErrorLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="developerErrorLabel">Developer Error</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p id="developerErrorMessage"></p>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="window.location.href = '/'">Close</button>
                </div>
            </div>
        </div>
    </div>



    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">GeoPort</strong>
                <small>Just Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ data }}
            </div>
        </div>
    </div>

    <!-- Toast Container -->
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
        <div class="toast-container position-absolute top-0 end-0 p-3" style="z-index: 9999;"></div>
    </div>


    </div>

</body>

</html>